.colorblue{
    background-color: rgb(6, 6, 77);
   
}
.imgheight{
    width: 18rem;
    margin-bottom: 20px;
}
.heightsite{
    height: 500px;
     width: 100%;
}
.img1{
    text-align: center;
    margin-left: 50%;
}
.bg-image{
    position: relative; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-image: url('./Images/service-3.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
}
.bg-image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(6, 6, 95, 0.8);
}
.avatar1 {
    height: 80px;
    width: 80px;
    border: 1px solid #fff;

}
.border{
    border: 1px solid #fff;
    height:40px;
    width:40px;
    padding:9px;
    border-radius: 50%;
}
  
.vl {
    border-left: 3px solid rgb(255, 188, 4);
    height: 500px;
  } 

.h1{
height: 70px;
  }
  input[type="email"] {
    width: 250px;
    height: 40px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -70px;
    height: 25px;
    margin-top: 7px;
    background: rgb(5, 1, 1);
    color: rgb(185, 185, 6);
    border:  1px solid rgb(122, 122, 8);
}

/*footer*/


.li1{
    list-style-type:square;
    color: white;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e9a21e;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight:300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
    margin-right: 5px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;

}

/*profile pic hover fade*/
.fade-in-image {
    opacity: 50%;
    margin-top:100%;
  }
  
  .fade-in-image:hover {
    opacity: 100%;
    transition: opacity 1s;
    transform: scale(1.5);
  }
  .admincardcolor{
      background-color: rgb(241, 245, 245);
      border: none;
  }